<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forgotpassword.css') }}">
</head>
<body>
   <div class="container">
    <h1>Forgot your Password?....</h1>
    <br>
    <p>Don't worry, reset it here</p>
    <form action="{{ url_for('forgot_password') }}" method="POST">
        <div class="container1">
            <div class="contain1_1">
                <p>Enter your Enrollment Number:</p>
                <input type="text" name="enrollment" placeholder="EG:20189999" required>
            </div>
            <div class="container1_2">
                <p>Enter your Email Id:</p>
                <input type="email" name="email" placeholder="eg:201B999@juitsolan.in" required>
            </div>
            <div class="container2">
                <button type="submit" class="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
