<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outpass System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='outpass.css') }}">
</head>
<body>
    <nav>
        <div class="logo">Outpass System</div>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Apply for Outpass</a>
            <a href="#">Pending Outpasses</a>
            <a href="#">Previous Outpasses</a>
            <form action="/logout">
            <button onclick="logOut()">Log Out</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <p>Fill out this form to apply for outpass</p>
        <form action="{{ url_for('fill') }}" method="POST" enctype="multipart/form-data">
        <div class="container2">
            <label>name:</label>
            <input type="text"name="name" placeholder="name">
            <label>roll no:</label>
            <input type="text" name="roll_no" placeholder="roll no">
            <label>room number</label>
            <input type="text" name="roomno" placeholder="Room Number">
        </div>
        <div class="container2">
            <input type="text" name="Duration" placeholder="Duration">
            <label type ="date">Date:</label>
            <input type="date" name="start_date">
         <span class="container2">
            <label for="to">To</label>
            <input type="date" name="end_date">
         </span>
        </div>
        <div class="container2">
            <input type="text" name="reason" placeholder="Purpose of Leave">
            <span class="container2">
                <input type="text" name="address"  placeholder="Adress on Leave">
            </span>
        </div>
        <div class="container2">
            <label class="consent">Parent Consent:</label>
            <input type="file" name ="consent_file">
        </div>
        <div class="container2">
            <button type="submit" onclick="applyoutpass()">Apply</button>
        </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='outpass.js') }}"></script>
</body>