<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forgotpassword.css') }}">
</head>
<body>
    <div class="container">
        <h1>Reset your Password</h1>
        <form action="{{ url_for('reset_password', enrollment=request.args.get('enrollment'), email=request.args.get('email')) }}" method="POST">
            <div class="container1">
                <div class="contain1_1">
                    <p>Enter new password:</p>
                    <input type="password" name="new_password" required>
                </div>
                <div class="container1_2">
                    <p>Re-type new password:</p>
                    <input type="password" name="confirm_password" required>
                </div>
                <div class="container2">
                    <button type="submit" class="submit">Change</button>
                </div>
            </div>
        </form>
    </div>
<script src="{{ url_for('static', filename='index2.js') }}"></script>

</body>
</html>