<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outpass System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sign.css') }}">
</head>
<body>
    <nav>
        <div class="logo">Outpass System</div>
        <div class="nav-links">
           <a href="{{ url_for('home') }}">Home</a>
            <a href="{{url_for('view')}}">Pending Outpasses</a>
            <button onclick="logOut()">Log Out</button>
        </div>
    </nav>
    
    <div class="container">
        <p>What do you want to do?</p>
        <div class="buttons">
            <button onclick="window.location.href='{{ url_for('view') }}'">Outpass Signing Request</button> 
           <!--<button onclick="viewPendingOutpasses()">View pending Outpasses</button>
            <button onclick="viewPreviousOutpasses()">View Previous Outpasses</button>-->
        </div>

        </form>
    </div>

</body>
</html>
