* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('https://www.juit.ac.in/galleryimages/b9330a7f13436b4423a4252f561f883e.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a, .nav-links button {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
.nav-links a:hover{
    text-decoration: underline;
}

.nav-links button {
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
}

.nav-links button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.container{
    background-color: rgba(53, 45, 53, 0.7);
    width: 80%;
    padding: 30px;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    margin: 50px ;
}
.container2{
    align-items: center;
    margin: 10px;
   display: flex;
    justify-content: space-between;
}
#date{
    background-color: rgb(38, 63, 86);
}
.container2 label{
    width: 20%;
    text-align: right;
    margin-right: 10px;
}
.container2 input,.container2 select{
    width: 60%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: white;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
}